ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: url("background.jpg");
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
background-image: url("background.jpg");
background-color: #cccccc;
height: 500px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.hero-text p {
  color: yellow;
  font-size:2em;

}
.my-picture {
  height:200px;
  border-radius: 100%;
  width:200px;
}
.about-text {
  background-color: white;
  border-radius: 10px;
  width: 50%;
  position: absolute;
  right: 0;

}
.contact-information p {
  margin-top: 0;
}
